[submodule "test_pr"]
	path = test_pr
	url = https://github.com/icyhearts/test_pr
[submodule "cumtBachelorThesisTemplate"]
	path = cumtBachelorThesisTemplate
	url = https://github.com/icyhearts/cumtBachelorThesisTemplate
